<div class="login-container" *ngIf="!isAuthenticated">
    <div class="login-box">
        <span>Bem-vindo ao</span>
        <img src="../../../assets/images/main-logo.png" alt="joguinho da vida logo" class="main-logo">
        <p>Jogue nosso jogo da vida e viva experiências emocionantes e recompensadoras, aprenda lições valiosas ao longo do caminho</p>
        <button class="jogar-btn" (click)="login()">Jogar!</button>
    </div>

</div>
<div class="parallax-container" (mousemove)="onMouseMove($event)">
    <img src="../../../assets/images/index-sky.png" class="layer sky parallax-layer" data-depth="0.1" alt="fundo-ceu">
    <img src="../../../assets/images/index-trees.png" class="layer trees parallax-layer" data-depth="0.5" alt="fundo-arvores">
</div>

