<app-header></app-header>

<section class="info-section">
  <div class="user-status">
    <div class="nivel-container">
      <div class="nivel-info">
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 36px">Nível</span>
          <span style="font-size: 128px">{{nivelAtual}}</span>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            font-size: 28px;
            justify-content: space-around;
          "
        >
          <span>Missões ativas: {{ missoesDoUsuario.length }}</span>
          <span>Missões concluídas: {{missoesConcluidas.length}}</span>
          <span>XP: {{xpAtual}}/{{xpNecessarioProximo}}</span>
        </div>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="(xpAtual / xpNecessarioProximo) * 100"
        style="margin-top: 10px; width: 100%; height: 15px"
      ></mat-progress-bar>
    </div>
  </div>
  <div class="user-opcoes">
    <div><span class="material-symbols-outlined"> add </span><a (click)="toOpenNewMissionModal()">Criar nova missão</a></div>
    <hr />
    <div><span class="material-symbols-outlined"> person </span><a >Perfil</a></div>
    <hr />
    <div><span class="material-symbols-outlined"> license </span><a href="#">Badges</a></div>
  </div>
</section>

<section class="missoes-section">
  <h1>Missões</h1>
  <div class="missoes-card-container">
    <div class="missoes-ativas-card missao-card">
      <h2>Ativas</h2>
      <div (click)="toOpenMissionDetails()" class="mission-card-details" *ngFor="let missao of missoesDoUsuario">
        <div style="display: flex; justify-content: space-between; align-items: center;">
                  <h3>{{ missao.nome }}</h3>
                  <h2>{{missao.dificuldade}}</h2>
        </div>

        <span>{{ missao.descricao }}</span>
        <h3>{{ missao.pontos }}</h3>
        <span>Desde {{ missao['data-criacao'] }}</span>
      </div>
    </div>
    <div class="missoes-ativas-card missao-card">
      <h2>Vencidas</h2>
      <div class="mission-card-details" *ngFor="let missao of missoesVencidas">
        <h3>{{ missao.nome }}</h3>
        <span>{{ missao.descricao }}</span>
        <h3>{{ missao.pontos }}</h3>
        <span>Desde {{ missao['data-criacao'] }}</span>
      </div>
    </div>
    <div class="missoes-ativas-card missao-card">
      <h2>Concluídas</h2>
      <div class="mission-card-details" *ngFor="let missao of missoesConcluidas">
        <h3>{{ missao.nome }}</h3>
        <span>{{ missao.descricao }}</span>
        <h3>{{ missao.pontos }}</h3>
        <span>Desde {{ missao['data-criacao'] }}</span>
      </div>
    </div>
    <div class="missoes-favoritas-card missao-card">
      <h2>Favoritas</h2>
      <div class="divider"></div>
      <ul *ngFor="let missao of missoesFavoritas">
        <li>{{ missao.nome }}</li>
      </ul>
    </div>
  </div>

  
</section>
