<app-header></app-header>

<section class="info-section">
  <div class="user-status">
    <div class="nivel-container">
      <div class="nivel-info">
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 36px">Nível</span>
          <span style="font-size: 128px">5</span>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            font-size: 28px;
            justify-content: space-around;
          "
        >
          <span>Missões ativas: 100</span>
          <span>Missões concluídas: 250</span>
          <span>XP: 599/1000</span>
        </div>
      </div>

      <mat-progress-bar
        mode="determinate"
        value="100"
        style="margin-top: 35px; width: 100%"
      ></mat-progress-bar>
    </div>
  </div>
  <div class="user-opcoes">
    <a href="#">Missões</a>
    <hr />
    <a href="#">Perfil</a>
    <hr />
    <a href="#">Loja</a>
  </div>
</section>

<section class="missoes-section">
  <div class="missoes-carousel">
    <div class="missao-card" style="border: 1px solid red">
      <div class="missao-card-header">
        <h1>Missão</h1>
      </div>
      <div class="missao-card-body">
        <h2>Objetivo de estudo</h2>
        <p>Leia um capítulo do livro de história</p>
      </div>

      <div class="missao-card-content">
        <img src="../../../assets/images/mission-card-icon.png" alt="icone de estrela" />
        <div class="recompensa-container">
          <span>Recompensa:</span>
          <span>+100 XP</span>
        </div>
      </div>
      <div class="mission-card-validade">
        <div>
          <img src="../../../assets/images/calendar.png" alt="calendario" />
        </div>
        <div class="validade-data-container">
          <span>Válido até:</span>
          <span>31/08/2025</span>
        </div>
      </div>
      <div class="missao-card-actions">
        <button mat-button class="btn-aceitar-missao">Aceitar</button>
        <button mat-button class="btn-recusar-missao">Recusar</button>
      </div>
    </div>
  </div>
</section>
